<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="dbMusicShareConnectionString" connectionString="Data Source=.;Initial Catalog=dbMusicShare;Persist Security Info=True;User ID=sa;Password=sonustar" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="9048576"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
       
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="FolderPath" value="320kb"/>
    <add key="SqlConnectionString" value="Data Source=.;Initial Catalog=dbMusicShare;Persist Security Info=True;User ID=sa;Password=sonustar"/>
  </appSettings>
</configuration>